#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

header {
    width: 100%;
    padding-bottom: 25px;
    flex-direction: column;
}

img {
    width: 70%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;}

}
